{
  "plugins": [
    "transform-object-rest-spread",
    "inline-dotenv",
    ["module-resolver", {
      "root": ["./src"],
    }],
  ],
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ]
}
